table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }
}

.form-container {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  width: fit-content;
  input {
    width: 200px;
    font-size: 18px;
    padding: 5px 5px 5px 10px;
    border: solid 2px black;
    border-radius: 4px;
  }
  button {
    width: 100%;
    font-size: 18px;
    border: solid 2px white;
    border-radius: 4px;
    color: white;
    background-color: black;
  }
  button:hover {
    background-color: aliceblue;
    color: black;
    border: solid 2px black;
    cursor: pointer;
  }
  button:disabled {
    background-color: grey;
    color: white;
    border: solid 2px white;
    cursor: not-allowed;
  }

  .water-jug {
    width: 40px;
    height: auto;
  }

  .input-container {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;
  }

  .jug-input {
    display: flex;
    flex-flow: column;
  }
}

// Snack
 #snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 300px;
  height: fit-content;
  max-height: 40px;
  margin-left: -160px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  left: 50%;
  top: 30px;
}

/* Show the snackbar when clicking on a button. Class added within the ts file to the ElementRef */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.error {
  background-color: red;
}
#snackbar.success {
  background-color: green;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
